.device {
  position: relative;
  margin: 1em auto;
  padding: 1.5em;
  border: 2px solid;
  color: #ccc;
  border-radius: .5em;
  transition: transform .5s ease;

  &:before {
    content: '';
    position: absolute;
    bottom: .5em;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    left: 50%;
    font-size: .75em;
    margin-left: -.5em;
    border: 2px solid;
    box-sizing: border-box;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: 2px solid;
    box-sizing: border-box;

    @media screen and (min-width: 0) {
      width: 200%;
      height: 200%;
      margin: -50%;
      border-width: 4px;
      box-sizing: border-box;
      transform: scale(.5);
    }
  }
}

.tablet {
  @extend .device;
  width: 17em;
  height: 22em;

  iframe {
    @media screen and (min-width: 0) {
      margin-top: -11em;
    }
  }
}

.mobile {
  @extend .device;
  width: 12em;
  height: 22em;
  padding: 1.5em .75em;
  border-radius: 1em;

  iframe {
    @media screen and (min-width: 0) {
      margin-top: -11em;
    }
  }

  @media screen and (min-width: 1300px) {
    margin: auto;
    zoom: 1.25;
    transform: rotate(90deg);

    iframe {
      transform: rotate(-90deg) scale(.5);
      width: 44em;
      height: 100%;
      margin: 0 -16em;
    }
  }
}
