@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?ladm7f");
  src: url("../fonts/icomoon.eot?#iefixladm7f") format("embedded-opentype"), url("../fonts/icomoon.woff?ladm7f") format("woff"), url("../fonts/icomoon.ttf?ladm7f") format("truetype"), url("../fonts/icomoon.svg?ladm7f#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 0.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-only {
  position: relative;
  display: inline-block;
  text-indent: 9999px;
  overflow: hidden;
  width: 1em;
  height: 1em;
  line-height: 1em;
  white-space: nowrap;

  &:before {
    position: absolute;
    text-indent: 0;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    margin: -.5em;
    text-align: center;
    text-transform: none;
    line-height: 1em;
  }
}

.icon-plus:before {
  content: "\ed5a";
}

.icon-minus:before {
  content: "\ed5b";
}

.icon-cross:before {
  content: "\ed6a";
}

.icon-checkmark:before {
  content: "\ed6e";
}

.icon-arrow-up:before {
  content: "\edb6";
}

.icon-arrow-right:before {
  content: "\edba";
}

.icon-arrow-down:before {
  content: "\edbe";
}

.icon-arrow-left:before {
  content: "\edc2";
}

.icon-instagram:before {
  content: "\eeec";
}

.icon-twitter:before {
  content: "\eeed";
}

.icon-dribbble:before {
  content: "\ef02";
}

.icon-github:before {
  content: "\ef10";
}

.icon-linkedin:before {
  content: "\ef25";
}

.icon-lastfm:before {
  content: "\ef26";
}
