
%document {
  font: #{$font-size}/#{$line-height} $font-family;
  min-height: 100%;
  color: $color;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

%container {
  max-width: $max-width;
  margin: auto;
  padding: $padding;
  clear: both;

  @media screen and (max-width: $breakpoint-small) {
    padding: $padding * .75;
  }
}

html {
  @extend %document;
}

.container {
  @extend %container;
}

.header-nav {
  float: right;

  a {
    float: left;
    width: 1.75em;
    height: 1.75em;
    margin-left: .25em;
    background: whitesmoke;
    border-radius: .25em;
  }

}

.main {
  min-height: 20em;

  .container {
    position: relative;
    padding-top: 4em;
  }
}


.footer {
  clear: both;
  background-color: whitesmoke;
}

.footer-nav a {
  margin-right: .5em;
}

@media screen and (max-width: $breakpoint-medium) {
  .footer-nav a { display: block; }
}

@media screen and (max-width: $breakpoint-small) {

  .header { text-align: center; }

  .list-label {
    float: none;
    display: inline-block;
    margin: 4em 1.5em 0 0;
  }

  .header-nav {
    float: none;

    a {
      float: none;
      display: inline-block;
      margin: 0 0.25em 1.5em;
    }
  }
}
