html {
  color: #444;
  transition: all 200ms ease;
}

body {
  min-height: 100vh;
  transition: all .2s ease-in-out;
  animation: fadeIn .5s ease-in-out;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    border: solid $color-secondary;
    border-width: 50vh 50vw;
    border-bottom-color: transparent !important;
    border-right-color: transparent !important;
    z-index: -1;
    transition: border-color 3s ease;

    @media (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
      border-width: 480px 384px;
    }

    @media (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
      border-width: 384px 480px;
    }
  }

  @media (max-device-width: 700px) {
    overflow: hidden;
    max-width: 100%;
    min-height: 2em;

    &:before {
      position: fixed;
      border-width: 44.5vh 50vw;
    }
  }

  &.leaving {
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1em;
      height: 1em;
      font-size: 60px;
      border: 3px solid transparent;
      border-right-color: #ddd;
      border-radius: 50%;
      box-sizing: border-box;
      margin: -.5em;
      animation: rotation .75s infinite linear;
    }

    > * {
      animation: fadeOut .5s ease;
    }
  }
}

@media screen and (max-width: $max-width) {
  .container {
    padding: 2em;
  }
}

h1 {
  font-weight: 600;
}

p {
  margin: $line-height 0;

  &:first-of-type {
    font-size: 1.25em;
    line-height: 1.45em;
  }
}

.print-only {
  display: none;
}

a:hover {
  color: black;

  &[onclick] {
    cursor: pointer;
  }
}

ul, ol {
  &.no-dot li {
    padding-left: 0;

    &:before {
      display: none;
    }
  }
}

.site-main {
  overflow: hidden;

  > .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  a {
    border-bottom: thin solid;

    &.button {
      background: white;
      color: dimgray;
      border: thin solid lightgrey;
      transition: none;

      &:hover {
        background: lightgrey;
      }
    }
  }

  @media screen and (min-width: $breakpoint-mobile) {
    min-height: calc(100vh - 16em);
  }
}

.footer {
  font-size: 80%;

  a {
    opacity: .75;

    &:hover {
      opacity: 1;
    }
  }

  .site-nav a:first-child {
    padding-left: 0;
  }
}

@each $site, $color in $colours {
  html.#{$site} {
    background-color: $color;
    color: white;

    body:before {
      border-top-color: #ddd;
      border-left-color: #ddd;
      opacity: .1;
    }

    .logo path,
    .logo polygon {
      fill: mix(white, $color, 75%);
    }

    a {
      color: mix(white, $color, 50%);

      &.#{$site}, &.active {
        color: white;
      }
    }
  }
}
