html {
  text-align: center;

  @media screen and (min-width: $max-width) {
    text-align: left;
  }
}

body.index {
  text-align: center;
}

h1 {
  font-weight: 600;
}

p {
  margin: $line-height 0;
}

a {
  &:hover {
    color: black;
  }

  &[onclick]:hover {
    cursor: pointer;
  }
}

.site-main {
  > .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  a {
    border-bottom: thin solid;

    &.button {
      background: white;
      color: dimgray;
      border: thin solid lightgrey;
      transition: none;

      &:hover {
        background: lightgrey;
      }
    }
  }
}

.profile-image {
  width: 12em;
  margin: 0 auto 4em;
  max-width: 100%;
  background: #eee;
}

.footer {
  font-size: 80%;
}

.dribbble {
  color: $dribbble;
}

.linkedin {
  color: $linkedin;
}

.twitter {
  color: $twitter;
}

.lastfm {
  color: $lastfm;
}

.github {
  color: $github;
}

@media screen and (min-width: $max-width) {
  .blurb {
    overflow: hidden;

    h3, p {
      float: left;
      text-align: left;
    }

    h3 {
      margin: 0;
      width: 40%;
    }

    p {
      margin: 0;
      width: 60%;
    }
  }
}
