.logo {
  display: block;
  margin: 0 auto 1.5em;
  transition: all .25s ease;

  img, svg {
    display: block;
    margin: auto;
    height: 2em;
  }
}

.site-nav {
  text-align: center;

  a {
    display: inline-block;
    vertical-align: middle;
    padding: .25em;
    transition: none;

    &:first-child {
      padding-left: 0;
    }

    &:hover, &.active {
      color: black;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        bottom: .125em;
        left: .25em;
        right: .25em;
        border-bottom: 2px solid;
      }

      &:first-child:before {
        left: 0;
      }
    }
  }

  &:hover {
    a {
      opacity: .5;

      &:hover { opacity: 1; }
    }
  }

  @media screen and (min-width: $breakpoint-mobile) {
    text-align: left;
  }
}

.site-header {
  .container {
    @extend .clearfix;
  }

  @media screen and (min-width: $breakpoint-mobile) {
    .logo {
      float: left;
      margin: 0;
    }

    .site-nav {
      float: right;
    }
  }
}
