.logo {
  display: block;
  margin: 0 auto 2.5em;
  transition: all .25s ease;

  img, svg {
    display: block;
    margin: auto;
    height: 2em;
  }
}

.site-nav {
  text-align: center;

  a {
    display: inline-block;
    vertical-align: middle;
    padding: .25em;
    transition: none;

    &:hover, &.active {
      color: black;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        bottom: .125em;
        left: .25em;
        right: .25em;
        border-bottom: 2px solid;
      }
    }

    @media (min-width: $breakpoint-medium) {
      padding: .25em .5em;

      &:hover:before, &.active:before {
        left: .5em;
        right: .5em;
      }
    }
  }

  &:hover {
    a {
      opacity: .5;

      &:hover {
        opacity: 1;
      }
    }
  }

  @media screen and (min-width: $breakpoint-mobile) {
    text-align: left;
  }
}

.site-header {
  .container {
    @extend .clearfix;
  }

  @media screen and (min-width: $breakpoint-mobile) {
    .logo {
      float: left;
      margin: 0;
    }

    .site-nav {
      float: right;

      a {
        padding: .25em .75em;

        &:before {
          left: .75em;
          right: .75em;
        }
      }
    }
  }
}

.site-footer {
  font-size: 80%;

  a {
    opacity: .75;

    &:hover {
      opacity: 1;
    }
  }

  .site-nav a:first-child {
    padding-left: 0;

    &:before {
      left: 0;
    }
  }
}
