@media screen and (max-width: $breakpoint-medium) {
  @each $project, $color in $projects {
    body.projects_#{$project} {

      .tablet {
        background-image: url("/assets/images/projects/#{$project}-tablet.jpg");
      }

      .mobile {
        background-image: url("/assets/images/projects/#{$project}-mobile.jpg");
      }
    }
  }
}

body.projects_bigsky:before {
  border-top-color: hsl(150, 75%, 80%);
  border-left-color: hsl(150, 75%, 80%);
}

body.projects_terrain:before {
  border-top-color: hsl(225, 100%, 90%);
  border-left-color: hsl(225, 100%, 90%);
}

a.featured {
  position: relative;
  font-weight: bold;
  border-bottom-style: dotted;

  &:after {
    content: 'More...';
    position: fixed;
    top: -50%;
    left: -50%;
    color: black;
    font-size: 2em;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%);
    transition: opacity 1.5s ease;
  }

  &:hover:after {
    top: 50%;
    left: 50%;
    visibility: visible;
    opacity: .75;
  }
}
