
.projects iframe {
  border: thin solid #ccc;
  margin: 1.5em 0;

  @media screen and (min-width: $breakpoint-medium) {
    height: 75vh;
  }
}

body.projects_bigsky:before {
  border-top-color: hsl(150, 75%, 80%);
  border-left-color: hsl(150, 75%, 80%);
}

body.projects_terrain:before {
  border-top-color: hsl(225, 100%, 90%);
  border-left-color: hsl(225, 100%, 90%);
}

.projects li {
  padding: 0;
  margin: 1em 0 2em;
  position: relative;

  &:before {
    display: none;
  }

  a {
    display: inline-block;
    font-weight: lighter;
    font-size: 2em;
    border: 0;

    span {
      display: inline-block;
      padding-bottom: .25em;
      border-bottom: thin solid;
    }

    small {
      display: block;
      margin: .75em 0 0;
      font-size: 50%;
    }
  }

  .collaborator {
    position: relative;
    top: .25em;
    margin-left: -.25em;
    vertical-align: middle;
    font-size: 40%;
    font-style: italic;
    font-weight: normal;
  }
}
