.resume {

  h1, h2 {
    position: relative;
    padding-bottom: .5em;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 3px solid;
      width: 1em;
    }
  }

  h2 {
    margin-bottom: 2em;
    page-break-before: always;

    &:first-child {
      page-break-before: avoid;
    }
  }

  h4 {
    margin-bottom: 0.5em;

    a {
      color: $black;
    }

    > em {
      display: inline-block;
      margin-left: 1em;
      font-size: 70%;
      font-weight: normal;
      font-style: normal;
      color: #666;
    }

    + h5 {
      font-size: 100%;
      font-weight: normal;
      margin: 0 0 .5em;
    }

    + p > em {
      display: block;
      margin-bottom: 0.75em;
    }
  }

  ul {
    font-size: 90%;
  }

  p {
    font-size: 90%;
    margin: .25em 0;
    line-height: 1.4em;
  }
}

.resume .contact-info-block {
  padding-top: 6em;

  h1:before {
    border-bottom-width: 5px;
  }

  h3 {
    margin: -1em 0 2em;
    font-weight: 300;
  }

  .contact-info {
    font-size: 1.5em;
    line-height: 1.45em;
    margin-bottom: 1.5em;

    a {
      display: inline-block;
      margin: 0 .25em .25em 0;
    }
  }

  dl {
    font-size: 1.125em;
    line-height: 1.75em;
    margin-top: 2em;

    &:after {
      content: '';
      display: table;
      clear: both;
    }

    dt, dd {
      float: left;
    }

    dt {
      clear: both;
      width: 7em;
      font-weight: 600;
    }
  }
}

figcaption {
  font-size: 90%;
  margin: 0 0 1.5em;
}

blockquote {
  border: 0;
  padding: 0;

  &:before, &:after {
    font-size: 1.5em;
    font-weight: bold;
    font-style: normal;
  }

  &:before {
    content: '\201C';
    position: absolute;
    margin-left: -.75em;
  }

  &:after {
    content: '\201D';
    position: relative;
    right: -.125em;
  }
}

figure.skills {
  label {
    padding: .25em .75em;
    font-size: 75%;
    white-space: nowrap;
    background: lightgrey;
    text-align: left;
    max-width: 100%;
    box-sizing: border-box;
  }

  &.inline label {
    display: inline-block;
    border-radius: 3px;
    margin-right: .15em;
    padding: .25em 1em;
  }

  @media screen and (min-width: $max-width * 1.667) {
    .labels {
      width: 0;
      height: 38.5em;
      margin: -4em auto -16em;
      text-align: center;
      transform: rotate(-90deg);

      label {
        max-width: 1000px;
      }
    }
  }
}

.print-link {
  font-style: italic;
}
