
html {
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family;
  color: $color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font-family;
  margin: .5em 0;
  line-height: 1.25em;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: darken($link-color, 25%);
  }
}

