@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Source+Serif+Pro);

$font-size: 110%;
$line-height: 1.5em;
$font-family: "Source Serif Pro", "EB Garamond", "Georgia", serif;
$title-font-family: "Source Sans Pro", "Open Sans", sans-serif;

$color: #444;
$link-color: slategray;

$dribbble: hotpink;
$instagram: steelblue;
$lastfm: firebrick;
$github: slategrey;
$background-color: mix($link-color, white, 2%);

$padding: 2em;
$max-width: 42em;

$button-border-width: 25em;
$button-height: $padding;
$button-radius: 0.25em;

$breakpoint-medium: $max-width;
$breakpoint-small: 600px;
