$font-size: 100% !default;

$font-family: "Roboto", "Source Sans Pro", "Helvetica Neue", sans-serif;
$font-family-headings: $font-family;

$line-height: 1.5em;
$line-height-relative: 1.5rem;

$color-primary: #333;
$color-secondary: whitesmoke;

$dribbble: hotpink;
$github: slategrey;
$instagram: steelblue;
$lastfm: firebrick;
$linkedin: steelblue;
$twitter: dodgerblue;

$breakpoint-small: 42rem;
$breakpoint-medium: 769px;
$breakpoint-large: 75rem;

$gutter: $line-height-relative;
$page-margin: $line-height-relative * 2;
$max-width: $breakpoint-small;

$breakpoint-mobile: $max-width * 0.667;

$colours: ("dribbble", $dribbble),
          ("github", $github),
          ("lastfm", $lastfm),
          ("linkedin", $linkedin),
          ("twitter", $twitter),
          ("bigsky", hsl(150, 50%, 50%)),
          ("concierge", hsl(200, 75%, 50%)),
          ("cricket-scores", hsl(0, 75%, 40%)),
          ("karuna", hsl(335, 95%, 50%)),
          ("nature-qld", hsl(150, 75%, 25%)),
          ("reactive-audio", hsl(200, 100%, 75%)),
          ("resume-builder", hsl(200, 100%, 50%)),
          ("terrain", hsl(228, 100%, 16%)),
          ("wikipadia", hsl(0, 0%, 30%));

$input-hover-foreground-color:  black;
$input-hover-background-color:  white;
$input-hover-border-color:      #aaa;

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
