#icons, #footer {
  position: absolute;
  @include border-radius(50%);
}

#icons li, #footer a {
  position: relative;
  display: inline-block;
  margin: 0 2px;
  text-indent: -9999px;
  @include transform-origin(bottom center);

  &:before {
    display: block;
    text-indent: 0;
    position: absolute;
    bottom: 0;
    left: 0; right: 0;
  }
}

#icons {
  clear: both;
  width: 800px;
  top: 316px;
  left: 50%;
  margin-left: -400px;
  white-space: nowrap;

  li {
    $icons-size: 100px;

    @extend .icon;
    width: $icons-size;
    height: $icons-size;
    @include transform-origin(bottom center);

    &:before {
      font-size: 55px;
      width: $icons-size;
      opacity: .05;
      filter: alpha(opacity=5);
      -webkit-filter: blur(1px);
    }

    &.icon-1 {
      @extend .icon-lightbulb;
      @include transform(rotate(50deg) translate(-50px, -110px));
    }

    &.icon-2 {
      @extend .icon-painting;
      @include transform(rotate(40deg) translate(-10px, -35px));
    }

    &.icon-3 {
      @extend .icon-keyboard;
      @include transform(rotate(20deg) translate(0, 15px));
    }

    &.icon-4 {
      @extend .icon-globe;
      @include transform(translate(0, 30px));
    }

    &.icon-5 {
      @extend .icon-cloud;
      @include transform(rotate(-20deg) translate(0, 10px));
    }

    &.icon-6 {
      @extend .icon-browser;
      @include transform(rotate(-40deg) translate(0, -40px));
    }
    &.icon-7 {
      @extend .icon-mobile;
      @include transform(rotate(-50deg) translate(25px, -110px));
    }
  }
}


#footer {
  bottom: 50px;

  a {
    width: 42px;
    height: 100px;

    &:before { font-size: 30px; width: 42px; }
  }

  .icon-1   { @include transform(rotate(20deg)); }
  .icon-2   { @include transform(rotate(10deg) translate(0, 10px)); }
  .icon-3   { @include transform(translate(0, 13px)); }
  .icon-4   { @include transform(rotate(-10deg) translate(0, 10px)); }
  .icon-5   { @include transform(rotate(-20deg)); }
}
