// ---------------------------------------------------------------------------- //

// -- Mixins -- //

// ---------------------------------------------------------------------------- //


// -- Gradients -- //

@mixin vertical-gradient($color1, $color2: darken($color1, 5%)) {
  background-color: $color1;
  @include filter-gradient($color1, $color2, vertical);
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(top, $color1 0%, $color2 100%));
}

@mixin horizontal-gradient($color1, $color2: darken($color1, 5%)) {
  background-color: $color1;
  @include filter-gradient($color1, $color2, horizontal);
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(left, $color1 0%, $color2 100%));
}

// ---------------------------------------------------------------------------- //



// -- Box Shadows -- //

@mixin emboss {
	-webkit-box-shadow:
    0 1px 1px rgba(0,0,0,.2),
    inset 0 1px 0 rgba(255,255,255,.1);
	-moz-box-shadow:
    0 1px 1px rgba(0,0,0,.2),
    inset 0 1px 0 rgba(255,255,255,.1);
	box-shadow:
    0 1px 1px rgba(0,0,0,.2),
    inset 0 1px 0 rgba(255,255,255,.1);
}

@mixin pressed {
	-webkit-box-shadow:
    0 1px 1px rgba(255,255,255,.2),
    inset 0 1px 1px rgba(0,0,0,.2);
	-moz-box-shadow:
    0 1px 1px rgba(255,255,255,.2),
    inset 0 1px 1px rgba(0,0,0,.2);
  box-shadow:
    0 1px 1px rgba(255,255,255,.2),
    inset 0 1px 1px rgba(0,0,0,.2);
}

@mixin input-inset {
	-webkit-box-shadow:
    0 1px 0 rgba(255, 255, 255, .4),
    inset 0 1px 0px rgba(0, 0, 0, .1);
	-moz-box-shadow:
    0 1px 0 rgba(255, 255, 255, .4),
    inset 0 1px 0px rgba(0, 0, 0, .1);
  box-shadow:
    0 1px 0 rgba(255, 255, 255, .4),
    inset 0 1px 0px rgba(0, 0, 0, .1);
}

// ---------------------------------------------------------------------------- //



// -- Rotation -- //


@mixin rotate-0 {
	-webkit-transform: rotate(0deg);
	   -moz-transform: rotate(0deg);
 	    -ms-transform: rotate(0deg);
	        transform: rotate(0deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

@mixin rotate-90 {
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

@mixin rotate-180 {
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
 	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

@mixin rotate-270 {
	-webkit-transform: rotate(270deg);
	   -moz-transform: rotate(270deg);
 	    -ms-transform: rotate(270deg);
	        transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


// https://gist.github.com/8615d6dc847e10c72fe5

@mixin rotated-text($num-characters: 100, $angle-span: 180deg, $angle-offset: 0deg) {
  $angle-per-char: $angle-span / $num-characters;

  @for $i from 1 through $num-characters {
    li:nth-child(#{$i}) {
      @include transform(rotate($angle-offset + $angle-per-char * $i));
    }
  }
}


// ---------------------------------------------------------------------------- //



// -- Opacity -- //


@mixin transparent {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

@mixin low-opacity {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
  opacity: .25;
}

@mixin half-opacity {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: .5;
}

@mixin semi-transparent {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  opacity: .75;
}

@mixin full-opacity {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}



// ---------------------------------------------------------------------------- //



// -- Misc -- //


@mixin background-size($bg-size) {
	-webkit-background-size: $bg-size;
	   -moz-background-size: $bg-size;
          background-size: $bg-size;
}

@mix-in text-overflow {
  text-overflow: ellipsis;
      white-space: nowrap;
         overflow: hidden;
}

@mixin transition($trans) {
	-webkit-transition: $trans;
	   -moz-transition: $trans;
	    -ms-transition: $trans;
	        transition: $trans;
}


@mixin user-select($selectable) {
  -webkit-user-select: $selectable;
     -moz-user-select: $selectable;
      -ms-user-select: $selectable;
          user-select: $selectable;
}

@mixin text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


@mixin active {
  &:active { position: relative; top: 1px; }
}


@mixin flipH {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}


// ---------------------------------------------------------------------------- //


// -- Animations -- //

