
a {
  color: $linkColor;
  font-weight: 600;

  text-decoration: none;

  &:hover {
    color: dull($linkColor);
  }
}


h1, h2, figcaption {
  font-weight: 600;
  letter-spacing: -0.08em;
}

h1 {
  font-size: $font-size * 2;
  line-height: 1.5;
}
