
// Colours

  $color: hsl(50, 10%, 60%);
  $bgcolor: mix($color, white, 10%);

  $bgcolor-alt: mix(white, $color, 10%);

  $border-color: dull($bgcolor, 10%);

  $linkColor: dull($color, 25%);

// Arbitrary values

  $padding: 30px;
  $min-height: 765px;

  $avatar-size: $padding * 3;

  $waves-total: 20;

// Typography

  $font-size: 16px;
  $line-height: 1.5 * $font-size;
  $font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  $font-color: dull($color, 35%);

