
figure {
  background: white;
  box-shadow: none;

  figcaption {
    background: white;
    border: 1px solid #ddd;
    box-shadow: none;
    behavior: url(../javascripts/PIE.htc);
  }

  img {
    box-shadow: none;
    behavior: url(../javascripts/PIE.htc);
  }
}

.wave {
  behavior: url(../javascripts/PIE.htc);
}

#main {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbffffff', endColorstr='#bbffffff',GradientType=0 );
}


@for $i from 1 through 20 {
  .wave-#{$i} {
    border-color: lighten(#ccc, (1% * $i));
  }
}


#icons {
  li {
    width: 70px;
    &:before {
      font-size: 35px;
      color: #eee;
    }
  }
}
