= link_to image_tag("logo.svg"), '/', class: 'logo'

= menu_link 'Projects', 'projects'
= menu_link 'Résumé', 'resume'

= link_to "Contact", "https://twitter.com/intent/tweet?text=G%27day%20%40rowanhogan", target: "_blank"
