
// Helper Classes

  .clearfix {
    zoom: 1;

    &:before,
    &:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }

    &:after { clear: both; }
  }

  .full-width-block {
    float: left;
    clear: both;
    width: 100%;
    @include box-sizing(border-box);
  }
