@font-face {
  font-family: 'Icons';
  src: url('/fonts/Icons.eot');
  src: url('/fonts/Icons.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Icons.svg#Icons') format('svg'),
    url('/fonts/Icons.woff') format('woff'),
    url('/fonts/Icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'Icons';
  content: attr(data-icon);
  speak: none;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'Icons';
  font-style: normal;
  speak: none;
}
.icon-home:before {
  content: "\21";
}
.icon-images:before {
  content: "\22";
}
.icon-clipboard:before {
  content: "\23";
}
.icon-clipboard-2:before {
  content: "\24";
}
.icon-paper:before {
  content: "\25";
}
.icon-file:before {
  content: "\26";
}
.icon-copy:before {
  content: "\27";
}
.icon-cloud:before {
  content: "\28";
}
.icon-upload:before {
  content: "\29";
}
.icon-apple:before {
  content: "\2a";
}
.icon-chrome:before {
  content: "\2b";
}
.icon-fire:before {
  content: "\2c";
}
.icon-lab:before {
  content: "\2d";
}
.icon-full-screen:before {
  content: "\2e";
}
.icon-collapse:before {
  content: "\2f";
}
.icon-move:before {
  content: "\30";
}
.icon-browser:before {
  content: "\31";
}
.icon-safari:before {
  content: "\32";
}
.icon-IE:before {
  content: "\33";
}
.icon-firefox:before {
  content: "\34";
}
.icon-opera:before {
  content: "\35";
}
.icon-deviantart:before {
  content: "\36";
}
.icon-forrst:before {
  content: "\37";
}
.icon-github:before {
  content: "\38";
}
.icon-dribbble:before {
  content: "\39";
}
.icon-vimeo:before {
  content: "\3a";
}
.icon-facebook:before {
  content: "\3b";
}
.icon-google-plus:before {
  content: "\3c";
}
.icon-twitter:before {
  content: "\3d";
}
.icon-lastfm:before {
  content: "\3e";
}
.icon-linkedin:before {
  content: "\3f";
}
.icon-css3:before {
  content: "\40";
}
.icon-html5:before {
  content: "\41";
}
.icon-happy:before {
  content: "\42";
}
.icon-diamond:before {
  content: "\43";
}
.icon-file-xml:before {
  content: "\44";
}
.icon-file-css:before {
  content: "\45";
}
.icon-file-zip:before {
  content: "\46";
}
.icon-envelope:before {
  content: "\47";
}
.icon-chat:before {
  content: "\48";
}
.icon-circle:before {
  content: "\49";
}
.icon-play:before {
  content: "\4a";
}
.icon-moon-fill:before {
  content: "\4b";
}
.icon-sun-stroke:before {
  content: "\4c";
}
