- content_for :head do
  %title Rowan Hogan

#about.content-block

  %h2
    Web Designer
    %span.amp &
    Developer, HCI Enthusiast.

  %p Blog post-ironic twee, Austin ethnic art party locavore cardigan sartorial lomo terry richardson retro. Artisan jean shorts vegan bushwick. Mumblecore quinoa aesthetic, craft beer banh mi american apparel PBR williamsburg wayfarers.

#contact.content-block

  %h2
    Web Designer
    %span.amp &
    Developer, HCI Enthusiast.

  %p Blog post-ironic twee, Austin ethnic art party locavore cardigan sartorial lomo terry richardson retro. Artisan jean shorts vegan bushwick. Mumblecore quinoa aesthetic, craft beer banh mi american apparel PBR williamsburg wayfarers.
