---
title: Home
show_title: false
---

<%= image_tag "logo.svg", class: 'avatar profile-image' %>

<div class="blurb">

  <h3>Rowan Hogan.</h3>

  <p>I'm a web designer &amp; developer from Brisbane, Australia, currently living in Canada.</p</p>

  <p>Read more about some of the <a href="/projects">projects</a> I've been involved with, or check out my <a href="/resume">rèsumè.</a>
  </p>

</div>
