- content_for :head do
  %title Rowan Hogan

%header
  %h1
    Web Designer
    %span.amp &
    Developer,
    <abbr title="Human-Computer Interaction">HCI</abbr>
    Enthusiast.

%p Currently working for <a href="http://netengine.com.au">NetEngine</a> in Brisbane, Australia.
%p Lead designer for <a href="http://triggerapp.com">TriggerApp</a>.
