---
title: Home
show_title: false
---

.blurb
  %p
    %strong Hi, I'm Rowan.
    I'm a front-end developer and designer from Brisbane, Australia.

  %p= "Read more about some of the #{link_to 'projects', '/projects'} I've been involved with, or check out my #{link_to 'rèsumè', '/resume'}."

.timeline-container
  %h5 Recent

  #timeline-list-labels.timeline-list-labels<
    %label.show-all-link.active{ data: { type: 'all' } } All

  %ul#timeline.timeline

  %input#instagram{type: "hidden", data: { token: "682546.39227a9.f2977a8752644eeda3c1a8965b954e58" } }
