---
title: Home
show_title: false
---

.blurb

  %h3 Hi, I'm Rowan.

  %p I'm a web designer &amp; developer from Brisbane, Australia, currently living in Canada.

  %p= "Read more about some of the #{link_to 'projects', '/projects'} I've been involved with, or check out my #{link_to 'rèsumè', '/resume'}."
