- content_for :head do
  %title Rowan Hogan
  %meta{:name => 'author', :content => 'Rowan Hogan'}
  %meta{:name => 'description', :content => 'Web designer & developer, general enthusiast.'}

%header
  %h1
    Web designer
    %span.amp &
    developer&#44;
    general enthusiast.

%p Currently working for <a href="http://netengine.com.au">NetEngine</a> in Brisbane, Australia.
%p Lead designer for <a href="http://triggerapp.com">TriggerApp</a>.
